<div class="urepost-modal-overlay">
	<div class="urepost-modal">
		<div class="form-group">
			<label for="title">Название поста</label>
			<input class="form-control" type="text" value="<%= post.title %>">
		</div>
		<div class="form-group">
			<label for="modules">Выберите модуль</label>
			<select id="js-modules" class="js-selectpicker" name="module">
				<% modules.forEach(function (module) { %>
					<option value="<%= module.code %>" <%= module.error ? 'disabled' : '' %>><%= module.name %></option>
				<% }); %>
			</select>
		</div>
		<div class="form-group">
			<button class="btn btn-success" disabled>Добавить пост</button>
		</div>
	</div>
</div>